workflows/Ai Calendar bot in Telegram.json
{"createdAt":"2025-07-08T14:49:01.343Z","updatedAt":"2025-07-26T13:36:00.366Z","id":"eHZwnuXx8akl6Z2R","name":"Ai Calendar bot in Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"60ee36d8-b2df-474c-9250-aa73c69a709e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[240,600],"typeVersion":1,"credentials":{"openAiApi":{"id":"S1Wy8FKomsr6T924","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool when you’re asked to retrieve events data.","operation":"getAll","calendar":{"__rl":true,"value":"rsrenolla@gmail.com","mode":"list","cachedResultName":"rsrenolla@gmail.com"},"options":{"timeMin":"={{ $fromAI('start_date') }}","timeMax":"={{ $fromAI('end_date') }}","timeZone":{"__rl":true,"value":"Asia/Manila","mode":"list","cachedResultName":"Asia/Manila"}}},"id":"52e7d7de-d4fd-4197-82ad-e11e1cd8eb5b","name":"Google Calendar - Get Events","type":"n8n-nodes-base.googleCalendarTool","position":[600,620],"typeVersion":1.2,"credentials":{"googleCalendarOAuth2Api":{"id":"qPWZXUk1Tglv7pTy","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this Google Calendar tool when you are asked to create an event.","calendar":{"__rl":true,"value":"rsrenolla@gmail.com","mode":"list","cachedResultName":"rsrenolla@gmail.com"},"start":"={{ $fromAI('start_date') }} ","end":"={{ $fromAI('end_date') }} ","useDefaultReminders":false,"additionalFields":{"attendees":[],"description":"={{ $fromAI('event_description') }} ","summary":"={{ $fromAI('event_title') }} "},"remindersUi":{"remindersValues":[{"method":"email","minutes":5}]}},"id":"91157dd7-c998-4ee3-b026-3c680da3fd29","name":"Google Calendar - Create events","type":"n8n-nodes-base.googleCalendarTool","position":[800,620],"typeVersion":1.2,"credentials":{"googleCalendarOAuth2Api":{"id":"qPWZXUk1Tglv7pTy","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are a Google Calendar assistant. Current date: {{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\n\n## KEYWORD COMMANDS (Check FIRST):\n- \"CREATE EVENT\", \"CREATE THIS EVENT\", \"CREATE\", \"create\", \"create this event now\", \"create this event\" = Create immediately\n\n## MEMORY RULE:\nIf you just presented complete event details to the user, and they say CREATE/create, use those exact details immediately. Don't ask for details again.\n\n## Event Creation Details:\n- start_date: Format as YYYY-MM-DD HH:mm:ss **WITH timezone: Asia/Manila**\n- end_date: Format as YYYY-MM-DD HH:mm:ss **WITH timezone: Asia/Manila**\n\nIMPORTANT: When creating events, always specify timezone as Asia/Manila in the API call.\n\n## Event Creation Flow:\n\n**Step 1: Collect Details** (only if missing)\n- start_date (YYYY-MM-DD HH:mm:ss)\n- end_date (YYYY-MM-DD HH:mm:ss) \n- event_title (uppercase)\n- event_description (but if they did not provide this and they ask you to create it, you can go ahead and create it!)\n\n**Step 2: Show Details & Ask for Confirmation**\n```\nHere are the details for the event you want to create:\n- Event Title: [TITLE]\n- Event Description: [DESCRIPTION]  \n- Start Date & Time: [START]\n- End Date & Time: [END]\n\nTo proceed, please type:\n- 'CREATE' to create this event\n- 'EDIT' to make changes\n- 'CANCEL' to cancel\n```\n\n**Step 3: Execute Command**\nWhen user types CREATE/create → Use the details you just showed them\n\n## Event Retrieval:\nAsk for date range, format as YYYY-MM-DD HH:mm:ss.\n\n## Key Rules:\n- Always check for keywords FIRST\n- Never ask for details you already presented\n- Execute CREATE commands immediately with existing details\n- Use user's language throughout"}},"id":"df937c1e-3f17-4dca-aad7-dd765db79914","name":"Calendar AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[440,380],"typeVersion":1.7},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"341d143d-054a-493e-a95d-1ab812794509","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[120,380],"webhookId":"8a4723d1-72af-48a6-a371-6b8b38302522","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ShBdzfOTuRYyGxIr","name":"Telegram account"}}},{"parameters":{"chatId":"={{$('Telegram Trigger').first().json.message.chat.id}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"8bb14f80-0888-4470-af51-ea7541ac5167","name":"Send Response To Telegram","type":"n8n-nodes-base.telegram","position":[900,380],"webhookId":"c846463c-5c1e-400d-9c8e-ed47ce036fcf","typeVersion":1.2,"credentials":{"telegramApi":{"id":"ShBdzfOTuRYyGxIr","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.text }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[440,600],"id":"d85b9a1c-e43c-4cb8-a5ac-92c51561d413","name":"Simple Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar AI Agent","type":"ai_languageModel","index":0}]]},"Google Calendar - Get Events":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Google Calendar - Create events":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"Calendar AI Agent":{"main":[[{"node":"Send Response To Telegram","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Calendar AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3af5f227-ad8a-438c-a0a4-0382a749e0aa","triggerCount":1,"tags":[{"createdAt":"2025-07-08T14:48:59.740Z","updatedAt":"2025-07-08T14:48:59.740Z","id":"ZDy6aFNkOpDXaBMp","name":"telegram"}]}