workflows/Google Maps scraper.json
{"createdAt":"2025-07-01T05:17:19.555Z","updatedAt":"2025-07-04T14:16:43.722Z","id":"q9EtHjDYpiBTsV1f","name":"Google Maps scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,-80],"id":"690ec550-7329-4be1-a5d5-ebf29403e5db","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-600,-80],"id":"a2cfda9b-c0fe-4f40-95e7-a00e59066184","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-200,-80],"id":"1b664c67-5433-4a94-863f-f8903ed34f02","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,20],"id":"610ff2eb-9b2d-4117-a1ec-885d88b3a37e","name":"Wait","webhookId":"19cc6ed4-4fe7-485b-b879-c679e4b3374d"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-420,-80],"id":"877f22e8-5d6b-4784-bc6e-562d67cce13a","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-20,-140],"id":"2cca0be1-6e45-4351-8f7a-1819d7db5e85","name":"Wait1","webhookId":"0fe34756-6e43-4603-8891-5747a9a6500a"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[340,-140],"id":"190c8f34-d61c-4f35-a028-820d4a2caaeb","name":"Split Out"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,20],"id":"3e6d6e9d-6345-41f3-9ec7-c3291ba731f4","name":"Extract Emails","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,-80],"id":"65c6ea07-b996-41dd-97b3-34342b52faf9","name":"Extract URLs"},{"parameters":{"url":"https://www.google.com/maps/search/interior+designer+sydney","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,-80],"id":"0be1c803-6d07-4cb3-9410-e5a6864c78c7","name":"Scrape Google Maps"},{"parameters":{"url":"={{ $json.website }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,20],"id":"d512df10-5f9d-4f43-a217-1e63a761af4e","name":"Scrape Site","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6786c58-424a-409a-b87f-8a7592cb7944","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[160,-140],"id":"25619025-421f-4221-b4aa-bbd3d190c8a9","name":"Filter Out Empties"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a5053-9660-457c-9581-964793bb6d7d","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"9110b9e0-12aa-45cc-bde0-9eda8c10970e","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}},{"id":"10500c0b-cdbd-4816-aba3-df60d69845dc","leftValue":"={{ $json.website }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-800,-80],"id":"73981bca-1752-4ec9-bc84-f8df4eada8d3","name":"Filter Google URLs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[540,-140],"id":"a2ecc09b-4df7-4b58-8bf3-ab463516150c","name":"Remove Duplicates (2)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fcijyZM1oU73i2xUbXYJ4j6RshmVEduOkCJji2SJP68","mode":"list","cachedResultName":"Scrape WITHOUT Paying for APIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fcijyZM1oU73i2xUbXYJ4j6RshmVEduOkCJji2SJP68/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fcijyZM1oU73i2xUbXYJ4j6RshmVEduOkCJji2SJP68/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"emails":"={{ $json.emails }}"},"matchingColumns":["emails"],"schema":[{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,-140],"id":"4bd69b23-b8c4-4640-ac33-827967341a1d","name":"Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VSM16YG92UrHGNW1","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Scrape Site","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter Out Empties","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates (2)","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter Google URLs","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Scrape Site":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter Out Empties":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Filter Google URLs":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates (2)":{"main":[[{"node":"Google Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f3ef0838-b7e4-4dde-bbe5-cd412cd55a1f","triggerCount":0,"tags":[{"createdAt":"2025-05-21T13:46:03.821Z","updatedAt":"2025-05-21T13:46:03.821Z","id":"rKMiMn0m4k7f9Qaj","name":"N8N Course"}]}