workflows/Google Docs Editor.json
{"createdAt":"2025-07-12T15:08:58.690Z","updatedAt":"2025-08-03T13:04:17.067Z","id":"OvQBY3duwNfMDXDy","name":"Google Docs Editor","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-940,160],"id":"dd0762c8-67f5-4b69-98ee-a693afe49c96","name":"Execute Workflow Trigger"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1rUO3VaO2yDGO5wf0Zz72gaG7e__wjXY26PJkX8h-Y00","mode":"list","cachedResultName":"Google Docs Upwork Proposal Template","cachedResultUrl":"https://docs.google.com/document/d/1rUO3VaO2yDGO5wf0Zz72gaG7e__wjXY26PJkX8h-Y00/edit?usp=drivesdk"},"name":"={{ $json.message.content.titleOfSystem }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,160],"id":"b31d17e3-7cb5-49a6-aae9-3a82319a8ae2","name":"Google Drive"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,160],"id":"7f6d492d-1997-40ea-a9b3-cc62f21059b3","name":"Google Drive1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful, intelligent proposal writer.","role":"system"},{"content":"=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output JSON for a customized proposal (which I'll upload to Google Docs).\n\nHigh-performing proposals are typically templated as follows:\n\n```\n# {titleOfSystem} \n## {briefExplanationOfSystem}\n\nHi. As mentioned, I’m so confident I’m the right fit for this I went ahead and created a proposal for you, including a step-by-step of how I’d do it.\n\nI’ve done the below many times and working with {specificPartOfTheirRequest} is actually one of my favorite things to do. Talk about serendipity!\n\nAnyway, here’s how we'll build {paraphrasedSystem}:\n{stepByStepBulletPoints}\n\nSo basically, {leftToRightFlowWithArrows}.\n\nA little about me:\n{aboutMeBulletPoints}\n\nTo be upfront: my goal is to work with you on a long-term retainer, since I find it aligns incentives and lets me help clients better. So I'd treat everything we do together as foundational, and help you build systems that drive revenue/maximize cost savings. \n\nI am really confident I can blow this out of the park for you, so if this sounds like something you're into, just respond to my proposal on Upwork & we'll take it from there. \n\nThank you for your time!\n```\n\nOutput your results in JSON using this format:\n\n{\n  \"titleOfSystem\": \"\",\n  \"briefExplanationOfSystem\": \"\",\n  \"specificPartOfTheirRequest\": \"\",\n  \"stepByStepBulletPoints\": \"\",\n  \"leftToRightFlowWithArrows\": \"\",\n  \"aboutMeBulletPoints\": \"\",\n}\n\nRules:\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it for personalization purposes.\n- Return \"stepByStepBulletPoints\" and \"aboutMeBulletPoints\" as strings, and delimit each bullet point with a \\n and make sure it includes a -\n- In \"aboutMeBulletPoints\", prefer to mention social proof that includes $ and numbers.\n- For \"leftToRightFlowWithArrows\", write a simplified left to right flow delimited by \"->\" strings. For instance, we receive a new email -> we add that to the CRM -> we send an email to the new lead.\n- Use first-person \"I\" language, like \"I'd streamline...\" for bullet points etc.\n\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"},{"content":"={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"}]},"jsonOutput":true,"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-540,160],"id":"545b008a-42a0-421b-9659-e41c67445d31","name":"OpenAI","credentials":{"openAiApi":{"id":"S1Wy8FKomsr6T924","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e980c92c-07d9-400e-b40c-a8fbdbe8bbcb","name":"aboutMe","value":"I'm an AI and automation freelancer that builds outreach systems, CRM systems, project management systems, no-code systems, and integrations.|Some notable things I've done:- End to end project management for a $1M/yr copywriting agency- Outbound acquisition system that grew a content company from $10K/mo to $92K/mo in 12 mo- Monday.com CRM and PM for a recruiting company doing >$1M/yr- Automated content generation system for an SEO agency doing >$10M/yr- ClickUp CRM build for a marketing company doing $1M/yr- I run a Make.com community that does $100,000/mo- I run a YouTube channel about automation with over 50,000 subscribers- Email outreach system for a $MM San Diego real estate brokerage that closed $150K revenue in the first three days- Email outreach systems for a $200K/mo ecommerce dog treat company","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,160],"id":"e6d3bba9-1a97-4c18-b409-49dbd9cb49b0","name":"Set Variable"},{"parameters":{"operation":"update","documentURL":"={{ $('Google Drive').item.json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{{titleOfSystem}}","replaceText":"={{ $('OpenAI').item.json.message.content.titleOfSystem }}"},{"action":"replaceAll","text":"{{briefExplanationOfSystem}}","replaceText":"={{ $('OpenAI').item.json.message.content.briefExplanationOfSystem }}"},{"action":"replaceAll","text":"{{specificPartOfTheirRequest}}","replaceText":"={{ $('OpenAI').item.json.message.content.specificPartOfTheirRequest }}"},{"action":"replaceAll","text":"{{stepByStepBulletPoints}}","replaceText":"={{ $('OpenAI').item.json.message.content.stepByStepBulletPoints }}"},{"action":"replaceAll","text":"{{leftToRightFlowWithArrows}}","replaceText":"={{ $('OpenAI').item.json.message.content.leftToRightFlowWithArrows }}"},{"action":"replaceAll","text":"{{aboutMeBulletPoints}}","replaceText":"={{ $('OpenAI').item.json.message.content.aboutMeBulletPoints }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[300,160],"id":"60b2854c-6f74-4189-880b-cb286502dcca","name":"Google Docs"},{"parameters":{"assignments":{"assignments":[{"id":"74b2ef09-da1d-4fe0-b6ea-242f25edf5e8","name":"urlOfProposal","value":"=https://docs.google.com/document/d/{{ $json.documentId }}/edit","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,160],"id":"eed4cacc-0a9c-4d2d-9151-9270b7edb801","name":"Edit Fields"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07323ae1-65e8-487e-855f-ba1297a24cfb","triggerCount":0,"tags":[{"createdAt":"2025-07-12T15:09:27.120Z","updatedAt":"2025-07-12T15:09:27.120Z","id":"8KBgzXhIQgSK4Cko","name":"googledocs"}]}