workflows/OnlineJobsPH.json
{"createdAt":"2025-06-28T14:24:40.105Z","updatedAt":"2025-07-26T13:29:55.111Z","id":"ZQxa9uVqw6rDKfqV","name":"OnlineJobsPH","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"0ca081d8-6024-43fc-a0d7-54e521cdf6d5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-60,560],"typeVersion":1.2,"notesInFlow":false},{"parameters":{"url":"https://r.jina.ai/https://www.onlinejobs.ph/jobseekers/jobsearch?jobkeyword=n8n&skill_tags=&partTime=on&fullTime=on&isFromJobsearchForm=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":" User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},{"name":"Accept-Language","value":"en-US,en;q=0.5"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,560],"id":"066fc16b-2df6-41da-a750-9113ab8de7db","name":"HTTP Request","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"jp5h40BtxIRoVPX0","name":"Header Auth account"}}},{"parameters":{"model":"qwen/qwq-32b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[680,800],"id":"a2d54e17-da74-4969-8279-7223a5cb6563","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"yUFyELyfyxZbusW9","name":"OpenRouter account"}}},{"parameters":{"text":"={{ $json.data }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"jobTitle\": {\n      \"type\": \"string\",\n      \"description\": \"The full title of the job.\"\n    },\n    \"jobType\": {\n      \"type\": \"string\",\n      \"description\": \"Classification of the job (e.g., Full-time, Part-time, Contract, Internship, Temporary, or other classifications if available).\"\n    },\n    \"salary\": {\n      \"type\": \"string\",\n      \"description\": \"The salary or pay range indicated for the position (if available).\"\n    },\n    \"datePosted\": {\n      \"type\": \"string\",\n      \"description\": \"The date the job listing was posted (if available), in a recognizable date format.\"\n    },\n    \"jobDescriptionSnippet\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary or the first few sentences of the job description.\"\n    },\n    \"jobLink\": {\n      \"type\": \"string\",\n      \"description\": \"The URL of the original job listing.\"\n    }\n  },\n  \"required\": [\"jobTitle\", \"jobLink\"]\n}","options":{"systemPromptTemplate":"Output the extracted job data as a single JSON object. This JSON object MUST contain one key: 'results'. The The value associated with 'results' MUST be a JSON array. Each element within this 'results' array MUST be a JSON object representing a single job listing.\n\nFor each job listing, extract the following details and include them as keys in its corresponding JSON object. If a detail is not available, set its value to null.\n\n- jobTitle: The full title of the job.\n- jobType: Classification of the job, such as Full-time, Part-time, Contract, Internship, Temporary, or other classifications if available.\n- salary: The salary or pay range indicated for the position if available.\n- datePosted: The date the job listing was posted if available.\n- jobDescriptionSnippet: A concise summary or the first few sentences of the job description.\n- jobLink: The URL of the original job listing.\n\nYou are an expert data extractor. Analyze the given data and extract these details."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[660,560],"id":"0c44aad7-3001-4d26-84ef-aaf74be0a615","name":"Information Extractor"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,560],"id":"1bd7f442-d1bf-477c-a4f1-fd1ce25998a5","name":"HTML"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Information Extractor":{"main":[[]]},"HTML":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f94dab97-54fb-4aaf-abb6-26601f651f77","triggerCount":0,"tags":[{"createdAt":"2025-06-29T05:40:01.338Z","updatedAt":"2025-06-29T05:40:01.338Z","id":"kSKTA6PrvXKRTfkN","name":"upwork"}]}